
body {
  font-family: sans-serif;
  background-color: white;
  background: url(http://pic.pp3.cn/uploads//allimg/c040111/10IK32423Y60-12H5.jpg);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 16px;
  float: left;
}
.container{
  float: left;
  width: 1250px;
  height: 510px;

}
.left{
  float: left;
  width: 170px;
}
.middle{
  float: left;
  width: 620px;
  height: 510px;
}
.right{
  float: left;
  width: 350px;
  height: 510px;
}
.logo{
  width: 170px;
  height: 100px;
  font-family: Papyrus,fantasy;
  background-image: url(http://img2.web07.cn/UpPic/Png/201503/09/4392380913445143.png);
  background-size: 170px 100px;
}
.player{
  font-family: Consolas,monaco,monospace;
  width: 170px;
  height: 500px;
}
.word{
  width: 550px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;

}
.draw{
  width: 303px;
  height: 503px;
  float: left;
}
.thumbnail{
  border: 3px solid #aaa;
  width: 303px;
  height: 500px;
  float: left;
}
.canvas-container{
  width: 620px;
  height: 510px;
  float: left;
}
.drawing-mode-options{


  float: left;

}
.answer {
  width: 350px;
  min-height: 100%;
  background: white;
  float: left;
  font-size: 14px;
}


header {
  background: #d2edf4;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 2px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 2px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;

}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.btn{
  float: left;

    width: 120px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 4px 20px 20px 7px;
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
    background: -webkit-linear-gradient(top,#656565,#4c4c4c);
    background: -moz-linear-gradient(top,#656565,#4a4a4a);
    background: linear-gradient(top,#656565,#4a4a4a);
}



#drawing-mode {
  margin-bottom: 10px;
  vertical-align: top;
}
#drawing-mode-options {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f5f2f0;
  padding: 10px;
}
label {
  display: inline-block; width: 130px;
}
.info {
  display: inline-block;
  width: 25px;
  background: #ffc;
}
#bd-wrapper {
  min-width: 1500px;
}