
body {
  font-family: sans-serif;
  background-color: white;

  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  float: left;
}
.container{
  float: left;
  width: 1250px;
  height: 510px;

}
.left{
  float: left;
  width: 170px;
}
.middle{
  float: left;
  width: 825px;
  height: 510px;
}
.right{
  float: left;
  width: 250px;
  height: 510px;
}
.logo{
  width: 170px;
  height: 100px;
  background-image: url("logo.png");
}
.player{
  width: 170px;
  height: 500px;
}
.word{
  width: 825px;
  height: 50px;

}
.draw{
  width: 501px;
  height: 501px;
  float: left;
}
.canvas-container{
  width: 825px;
  height: 510pxpx;
  float: left;
}
.drawing-mode-options{

  margin-right: 10px;
  float: left;

}
.answer {
  width: 250px;
  height: 510px;
  background: white;
  float: left;
}


header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 2px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 2px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}





#drawing-mode {
  margin-bottom: 10px;
  vertical-align: top;
}
#drawing-mode-options {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f5f2f0;
  padding: 10px;
}
label {
  display: inline-block; width: 130px;
}
.info {
  display: inline-block;
  width: 25px;
  background: #ffc;
}
#bd-wrapper {
  min-width: 1500px;
}